<div id="side_bar_div" class="container-fluid">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><strong>Ybot options<strong></li>
        <li class="active">
          <a href="#" ng-click="home()">Ybot web interface</a>
        </li>
        <li class="divider"></li>
        <li class="nav-header">
          <strong>Ybot plugins<strong>
        </li>
        <li>
          <a ng-click="plugnis_obs_history()">Ybot plugins observer and history</a>
        </li>
        <li>
          <a ng-click="upload_plugin()">Ybot upload and start new plugin</a>
        </li>
        <li class="divider"></li>
        <li class="nav-header"><strong>Ybot transports<strong></li>
        <li>
          <a ng-click="transport()">Ybot runned trannsports</a>
        </li>
        <li>
          <a ng-click="activate_new_transport()">Ybot start new transport</a>
        </li>
        <li class="divider"></li>
        <li class="nav-header">
          <strong>Ybot storage backend<strong>
        </li>
        <li>
          <a ng-click="storage()">Ybot storage options</a>
        </li>
    </ul>
  </div>
</div>