%% -*- mode: Erlang; -*-

{erl_opts, [
    %% Add debug_info for debugging
    debug_info,

    %% Lager
    {parse_transform, lager_transform},

    %% Fail on warning
    %% warnings_as_errors,

    %% Causes  warnings  to  be emitted for malformed format
    %% strings as arguments to io:format and similar functions.
    warn_format,

    %% Causes a warning to be emitted if the export_all option has also been given.
    warn_export_all,

    %% Causes  warnings  to be emitted for all implicitly exported
    %% variables referred to after the primitives where they were first defined.
    warn_export_vars,

    %% Causes warnings to be emitted for "fresh" variables in functional
    %% objects or list comprehensions with the same name as some already defined variable.
    warn_shadow_vars,

    %% Causes warnings to be emitted for calls to old type testing BIFs
    warn_obsolete_guard
]}.

%% Subdirectories?
{sub_dirs, ["plugins/*"]}.

%% Dependencies
{deps, [
   {lager, "1.2.1",
      {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
   {ibrowse, "4.0.1",
      {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.1"}}},
   {reloader, "0.1",
      {git, "http://github.com/bjnortier/reloader.git", "master"}},
   {cowboy, ".*", 
      {git, "git://github.com/extend/cowboy.git", "master"}},
   {mimetypes, ".*",
      {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
   {jiffy, ".*",
      {git, "git://github.com/davisp/jiffy.git", "master"}},
   {gen_smtpc, ".*",
      {git, "git://github.com/0xAX/gen_smtpc.git", "master"}}
]}.
