%% -*- mode: Erlang; -*-

%%%
%%% Main Ybot config
%%%

[
    {ybot,
        [
            % list of transport
            {transports, [
                    % Irc transport
                    {irc, 
                          % Irc nick
                          <<"ybot">>,
                          % Irc channel / key
                          {<<"#linknet">>, <<>>},
                          % Irc server host
                          <<"irc.freenode.net">>,
                          % Options
                          [{port, 7000}, {use_ssl, true}]
                    },

                    % Xmpp transport
                    {xmpp, % bot login
                           <<"ybot">>,
                           % bot password
                           <<"ybot_password">>,
                           % xmpp room
                           <<"room@conference.jabber.com">>,
                           % xmpp server
                           <<"jabber.com">>,
                           % xmpp resource
                           <<"home">>
                    },

                    % Campfire transport
                    {campfire, % campfire login
                               <<"ybot">>,
                               % campfire token
                               <<"ybot_token">>,
                               % campfire room id
                               100100,
                               % campfire sub-domain
                               <<"home100">>
                    }
                ]
            },

            % plugins directory path
            {plugins_path, "/home/user/Ybot/plugins/"}
        ]
    }
].
