%% -*- mode: Erlang; -*-

%%%
%%% Main Ybot config
%%%

[
    {ybot,
        [
            % list of transport
            {transports, [
                    % Irc Nick Channel IrcServer
                    {irc, <<"Ybott">>, <<"#erlplay">>, <<"irc.freenode.net">>},
                
                    % Xmpp Multi-user chat Login Password Room Host Resource
                    {xmpp, <<"ybot@jabber.com">>, <<"ybot_password">>, <<"room@conference.jabber.com">>, <<"jabber.com">>, <<"home">>},

                    % Campfire config
                    {campfire, <<"ybot">>, <<"ybot_token">>, 100100, <<"home100">>}
                ]
            },

            % plugins directory path
            {plugins_path, "/home/user/Ybot/plugins/"}
        ]
    }
].
