%% -*- mode: Erlang; -*-

%%%
%%% Main Ybot config
%%%

[
    {ybot,
        [
            % list of transport
            {transports, [
                    % Irc Nick Channel IrcServer
                    {irc, <<"ybot">>, <<"#ybot_test">>, <<"irc.freenode.net">>},

                    % Xmpp Multi-user chat Login Password Room Host Resource
                    {xmpp, <<"ybot">>, <<"qwertyasd">>, <<"ybot_test@conference.jabber.ru">>, <<"jabber.ru">>, <<"home">>},

                    % Campfire config
                    {campfire, <<"ybot">>, <<"768df39d440ce3be9ded1474e7d8ba1b2da27a46">>, 547598, <<"home1150">>}
                ]
            },

            % plugins directory path
            {plugins_path, "/home/shk/Ybot/plugins/"}
        ]
    }
].
