<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Ybot web interface</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen"/>
    <script language="javascript" src="/js/prototype.js" type="text/javascript"></script>
    <script language="javascript" src="/js/angular.js" type="text/javascript"></script>
    <script language="javascript" src="/js/ybot.js" type="text/javascript"></script>
    <!-- Custom css -->
    <style media="screen" type="text/css">
      a{
        cursor: pointer;
      }
      label{
        font-size: 17px;
      }
      li{
        font-size: 17px;
      }
      .hero-unit{
        position: fixed;
        left: 340px;
        top : 4%;
        right: 0%;
        bottom: 0%;
        margin-bottom:0%;
      }
    </style>
    <!-- End of custom css -->
  </head>
    <body>

      <!-- Page header -->
      <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                    <div class="container-fluid">
                    <a class="brand" href="/">Ybot web interface</a>

                    <div class="nav-collapse collapse">
                        <ul class="nav">
                          <li><a href="https://github.com/0xAX/Ybot">Source Code</a></li>
                            <li><a href="http://0xax.github.com/Ybot.html">Documentation</a></li>
                            <li><a href="http://0xax.github.com/ybot-plugins.html">Plugin catalog</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <br/>
            <!-- End header -->

            <!-- Side bar -->
             <div ng-app='ybot' id="side_bar_div" class="container-fluid" ng-controller="YbotController" ng-load="start()">
                <div class="well sidebar-nav" style="width: 300px; top: 4%; left:0px; position:fixed;">
                      <ul class="nav nav-list">
                          <li class="nav-header"><strong>Ybot options<strong></li>
                          <li id="li_web_interface" class="active"><a id="a_web_interface" href="/">Ybot web interface</a></li>
                          <li class="divider"></li>
                          <li class="nav-header"><strong>Ybot plugins<strong></li>
                          <li id="li_ybot_plugins" ng-click="acive_ybot_settings()"><a id="a_ybot_plugins">Ybot plugins observer and history</a></li>
                          <li id="li_ybot_upload_plugin" ng-click="active_upload_plugin()">
                          <a id="a_ybot_upload_plugin">Ybot upload and start new plugin</a></li>
                          <li class="divider"></li>
                          <li class="nav-header"><strong>Ybot transports<strong></li>
                          <li id="li_runned_transports" ng-click="active_runned_transport()"><a id="a_ybot_runned_transports">Ybot runned trannsports</a></li>
                          <li id="li_start_new_transport" ng-click="active_new_transport()"><a id="a_ybot_new_transport">Ybot start new transport</a></li>
                          <li class="divider"></li>
                          <li class="nav-header"><strong>Ybot storage backend<strong></li>
                          <li id="li_storage_option" ng-click="active_ybot_storage()"><a id="a_ybot_storage_opts">Ybot storage options</a></li>
                      </ul>
                  </div>
                  
                  <!-- Main div -->
                  <div id="main_div" class="hero-unit" style="overflow:auto; position:absolute;">
                    <h2>{{header}}</h2>
                    <hr/>

                    <!-- Ybot web interface content -->
                    <div id="div_ybot_web_interface" style="position: absolute; overflow:auto; top:15%; right:0%; left:3.8%;">
                      <h3>Transports</h3>
                        <ul>
                           <li ng-repeat="transport in transports">
                              {{transport}}
                           </li>
                        </ul>
                      <hr/>
                      <h3>Plugins</h3>
                        <ul>
                          <li ng-repeat="plugin in plugins">
                            {{plugin}}
                          </li>
                        </ul>
                      <label>Ybot plugins directory - {{plugins_directory}}</label>
                      <hr/>
                      <h3>History and Plugin observer</h3>
                      <label>Ybot history turn on - {{is_history}}</label>
                      <label>Ybot history limit is - {{history_limit}}</label>
                      <label>Ybot plugin observer turn on - {{is_observer}}</label>
                      <label>Ybot plugin observer timeout - {{observer_timeout}}</label>
                      <hr/>
                      <h3>Ybot storage</h3>
                      <label>Ybot storage backend - {{storage_type}}</label>
                    </div>
                    <!-- End of Ybot web interface content -->

                    <!-- Ybot plugins content -->
                    <div id="div_ybot_plugins" style="position: absolute; overflow:auto; top:15%; right:0%; left:3.8%;">
                        <h3>Plugin observer settings</h3>
                        <label>New plugin observer timeout (in microsecond):<label>
                        <span id="span_observer_error1" class="label label-important" style="visibility: hidden;">Observer timeout must be number</span><br/>
                        <input type="text" id="input_observer_timeout" placeholder="Observer timeout..."></input>
                        <label class="checkbox"><input id="checkbox_is_observer" checked="false" type="checkbox">Use plugins observer</input></label>
                        <button class="btn btn-success" ng-model="update_observer_sett_btn" ng-click="update_observer_settings()">Update</button>
                        <hr/>
                        <h3>Command history settings</h3>
                        <label>Limit of command history:<label>
                        <span id="span_observer_error2" class="label label-important" style="visibility: hidden;">Wrong number</span><br/>
                        <input type="text" id="input_history_limit" placeholder="History limit..."></input>
                        <label class="checkbox"><input id="checkbox_is_history" checked="false" type="checkbox">Use command history</input></label>
                        <button class="btn btn-success" ng-model="update_observer_sett_btn" ng-click="update_history_settings()">Update</button>
                        <hr/>
                    </div>
                    <!-- End of Ybot plugins content -->

                    <div id="div_ybot_upload" style="position: fixed; top:20%; right:0%; left:21%; bottom:0%;">
                          <lable>Ybot upload plugin from the <a href="https://github.com/0xAX/ybot-contrib">ybot-contrb</a> or from other place from the web:  <span id="span_upload_error" style="visibility: hidden;" class="label label-important">Wrong plugin path</span>
                          <br/></label>
                          <input id="plugin_web_path" name="input_update_plugin" type="text" placeholder="http://" style="width: 240px"/><br/>
                          <button class="btn btn-success" ng-model="upload_new_plugin" ng-click="upload_plugin()">Upload</button>
                    </div>

                    <div id="div_ybot_transports" style="position: fixed; top:20%; right:0%; left:21%; bottom:0%;">
                      <strong>TODO</strong>
                    </div>

                    <div id="div_ybot_runned_transports" style="position: fixed; top:20%; right:0%; left:21%; bottom:0%;">
                      <strong>TODO</strong>
                    </div>

                    <div id="div_ybot_storage" style="position: fixed; top:20%; right:0%; left:21%; bottom:0%;">
                      <strong>TODO</strong>
                    </div>

                  <div>
                  <!-- End of main div -->
            </div>
            <!-- End side bar-->
    </body>
</html>